<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-light bg-primary">  
      <form class="form-inline">
        <h5 class="text-light" style="margin:10px">Contact Management</h5>
        <input type="button" class="btn btn-primary btn-outline-light" style="margin: 5px" value="Index" onclick="location.href = '../../users';">
        <input type="button" class="btn btn-primary btn-outline-light" style="margin: 5px" value="New" onclick="location.href = '../../users/user';">
      </form>
    </nav>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Here is the link to
      <a href="users">users</a>
    </p>
  </body>
</html>
