<!DOCTYPE html>
<html>

<head>
  <title>Create a User</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="/javascripts/create_user.js"></script>
</head>

<body>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">Contact Management</a>
  </nav>    
  <divrow class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="card">
        <div class="card-header">
          New Contact
        </div>
        </br>
        <form>
          <div class="form-group px-5">
            <label for="exampleInputName">Name:</label>
            <input type="text" name= "name" class="form-control" id="name" aria-describedby="emailHelp">
          </div>
          <div class="form-group px-5">
            <label for="exampleInputaddress">E-Mail:</label>
            <input type="text" name= "email" class="form-control" id="email" aria-describedby="emailHelp">
          </div>
          <div class="form-group px-5">
            <label for="exampleInputphone">Phone:</label>
            <input type="text" name= "phone" class="form-control" id="phone" aria-describedby="emailHelp">
          </div>
          <div class="form-group px-5">
            <button id="createButton" type="submit" class="btn btn-success mxy-5">Submit</button>
          </div>
        </form>      
      </div>
      <div class="col-2"></div>
    </div>
  </divrow>
</body>

</html>